<!DOCTYPE html>
<html>
    <title>Task Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="nav">
        <div class="auth-status">
            <button class="home">home</button>
            <button class="my-tasks">my tasks</button>
                {% if current_user.is_authenticated %}
                    <button class="logout">
                        <a href="{{ url_for('logout') }}">logout</a>
                    </button>
                {% else %}
                    <button class="log-in">
                        <a href="{{ url_for('login') }}">login</a>
                    </button>
                {% endif %}
        </div>
    </nav>
    <div class="greeting">
        {% if current_user.is_authenticated%}
            <p>Welcome, {{ current_user.username }}!</p>
        {% else %}
            <p>Welcome, Guest!</p>
        {% endif %}
    </div>
<body>

<h1>Task Manager by Lachlan</h1>
<p>A part of the 2024 collection by engineer Lachlan Hooker</p>
<p>This is a web app build in Python using flask</p>
<p>You can expect to the achitecture to be serverless!</p>

</body>
</html>