<!DOCTYPE html>
<html>
    <title>Task Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="nav">
        <button class="home">home</button>
        <button class="my-tasks">my tasks</button>
        <button class="log-in">log in/out</button>
    </nav>
<body>

<h1>Task Manager by Lachlan</h1>
<p>A part of the 2024 collection by engineer Lachlan Hooker</p>
<p>This is a web app build in Python using flask</p>
<p>You can expect to the achitecture to be serverless!</p>

</body>
</html>