<!DOCTYPE html>
<html>
    <title>Task Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="nav">
        <button class="home">
            <a href="/home">
                home
            </a>
        </button>
        <button class="my-tasks">my tasks</button>
    </nav>
    <div class="greeting">
        {% if current_user.is_authenticated%}
            <p>Welcome, {{ current_user.username }}!</p>
        {% else %}
            <p>Welcome, Guest!</p>
        {% endif %}
    </div>

    <body>
        <div class="auth-container">
            <section class="log-in">
                <h2>Already a user? Log in!</h2>

                <form action="log-in" method="post">
                    <label for="uname">Username: </label>
                    <input type="text" placeholder="username" id="uname" name="uname" required><br><br>

                    <label for="pdw">Password: </label>
                    <input type="password" placeholder="password" id="pwd" name="pwd" required><br><br>

                    <button type="submit" id="log-in">Log in</button>
                </form>
                <p class="log_in_message">{{ log_in_message }}</p>
                <button class="sign-up">
                    <a href="/sign-up">Don't have an account yet? Sign up!</a>
                </button>
            </section>
        </div>
    </body>
