<!DOCTYPE html>
<html>
    <title>Task Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="nav">
        <div class="auth-status">
            <button class="home">
                <a href="{{ url_for('get_home_page') }}">home</a>
            </button>
            <button class="{{ url_for('get_tasks') }}">my tasks</button>
            <button class="log-in">
                <a href="{{ url_for('login') }}">login</a>
            </button>
        </div>
    </nav>
    <div class="greeting">
        {% if current_user.is_authenticated%}
            <p>Welcome, {{ current_user.username }}!</p>
        {% else %}
            <p>Welcome, Guest!</p>
        {% endif %}
    </div>
    <body>
        <div class="auth-container">
            <section class="sign-up">
                <h2>Not a member yet? Sign up!</h2>

                <form action="sign-up" method="post">
                    <label for="uname">Username</label>
                    <input type="text" placeholder="username" id="uname" name="uname" required pattern=".*\S.*" title="Username cannot be empty"><br><br>

                    <label for="email">Email</label>
                    <input type="text" placeholder="email" id="email" name="email" required><br><br>

                    <label for="psw">Password</label>
                    <input type="password" placeholder="password" id="psw" name="psw" required><br><br>

                    <button type="submit" id="sign-up-button">Sign up</button>
                </form>
                <button class="log-in">
                    <a href="{{ url_for('login') }}">
                        Already have an account? Login!
                    </a>
                </button>
            </section>
        </div>
    </body>
