<!DOCTYPE html>
<html>
    <title>Task Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="nav">
        <button class="home">home</button>
        <button class="my-tasks">my tasks</button>
        <button class="logout">
            <a href="{{ url_for('logout') }}">logout</a>
        </button>
    </nav>
    <div class="greeting">
        <p>Welcome, {{ current_user.username }}!</p>
    </div>
    <body>
        <div class="task-list">
            {% for task in tasks %}

            <div class="task">
                <p class="description">{{ task['description'] }}</p>
                <p class="due-date">{{ task['due_date'] }}</p>
                <p class="priority">{{ task['priority'] }}</p>
                <p class="status">{{ task['status'] }}</p>
                <p class="date_added">{{ task['date_added'] }}</p>
            </div>
            {% endfor %}
        </div>
    </body>