<!DOCTYPE html>
<html>
    <title>Task Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="nav">
        <button class="home">home</button>
        <button class="my-tasks">my tasks</button>
        <button class="log-in">log in</button> 
    </nav>
    <div class="greeting">
        {% if current_user.is_authenticated%}
            <p>Welcome, {{ current_user.username }}!</p>
        {% else %}
            <p>Welcome, Guest!</p>
        {% endif %}
    </div>

    <body>
        <p>Task no.</p>
        <p>Description</p>
        <p>Date added</p>
        <p>Due date</p>
        <p>Priority</p>
        <p>Status</p>
    </body>